/node_modules
/.next/
.DS_Store
tsconfig.tsbuildinfo
/test-results/
/playwright-report/
/playwright/.cache/
out
messages/en.d.json.ts

# Environment variables
.env
.env.local
.env.production.local
.env.development.local
.env.test.local
test-results/
